@import "../../theme";

.emojis {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5rem 0 0.5rem;
  max-width: 900px;
}

button.emoji-btn {
  font-size: 2rem;
  padding: 0.5rem;
  margin: 0.75rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: none;
  transition: transform 0.5s;

  @include hover {
    transform: scale(1.5) rotate(-360deg);
    transition: transform 0.3s;
  }

  &.correct {
    background-color: rgba($life-color, 0.4);
  }

  &.wrong {
    background-color: rgba($death-color, 0.4);
  }
}

.practice {
  .correct {
    pointer-events: none;
    cursor: default;
  }
}

.score-fly {
  $transitionTime: 1.3s;
  $transitionCurve: ease-in;
  pointer-events: none;
  position: absolute;
  top: var(--init-top, 50vh);
  left: var(--init-left, 50vw);
  font-size: 2rem;
  transform: translate(-50%, -50%);
  transition: opacity $transitionTime $transitionCurve,
    top $transitionTime $transitionCurve;

  &.positive {
    color: $life-color;
  }

  &.negative {
    color: $death-color;
  }

  &.end {
    opacity: 0;
    top: 0;
  }

  &.combo-fly {
    @extend %rainbow-text;
    font-size: 1.5rem;
    $transitionTime: 2s;
    $transitionCurve: ease-in-out;
    transition: opacity $transitionTime $transitionCurve,
      top $transitionTime $transitionCurve;

    &:after {
      content: attr(data-party);
      -webkit-text-fill-color: initial;
    }
  }
}
