@import "../../theme";

.emoji-field {
  display: grid;
  gap: 2rem 1rem;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  grid-auto-rows: 1fr;
  margin-top: 2rem;
  width: 90%;
  max-width: 800px;
}

button.emoji-btn {
  font-size: 2rem;
  padding: 0.5rem;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  border-radius: 50%;
  border: none;
  transition: transform 0.5s;

  @include hover {
    transform: scale(2) rotate(-360deg);
    transition: transform 0.3s;
  }

  &.correct {
    border-color: $life-color;
    background-color: rgba($life-color, 0.3);
    pointer-events: none;
    cursor: default;
  }

  &.wrong {
    border-color: $death-color;
    background-color: rgba($death-color, 0.3);
    pointer-events: none;
    cursor: not-allowed;
  }
}

.score-fly {
  $transitionTime: 1.3s;
  $transitionCurve: ease-in;
  position: absolute;
  top: var(--init-top, 50vh);
  left: var(--init-left, 50vw);
  font-size: 2rem;
  transform: translate(-50%, -50%);
  transition: opacity $transitionTime $transitionCurve,
    top $transitionTime $transitionCurve;

  &.positive {
    color: $life-color;
  }

  &.negative {
    color: $death-color;
  }

  &.transition-end {
    opacity: 0;
    top: 0;
  }

  &.combo-fly {
    @extend .rainbow-text;
    font-size: 1.5rem;
    $transitionTime: 2s;
    $transitionCurve: ease-in-out;
    transition: opacity $transitionTime $transitionCurve,
      top $transitionTime $transitionCurve;

    &:after {
      content: attr(data-party);
      -webkit-text-fill-color: initial;
    }
  }
}
