.voice-config {
  padding: 1.5rem;
  max-width: 640px;
  width: calc(100% - 3rem);
  justify-self: center;
  display: flex;
  gap: 1rem;
  flex-direction: column;

  .info {
    font-size: 0.75rem;
    font-style: italic;
  }
}
@import "../../../theme";

.list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(4.25rem, 1fr));
  grid-auto-rows: 3.25rem;

  &.no-default {
    .default {
      display: none;
    }
  }

  label {
    cursor: pointer;
    padding: 0.75rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.25rem;
    align-items: center;
    font-size: 1.25rem;
    font-family: monospace;

    &.selected {
      border-color: $main-color;
      background: rgba($main-color, 0.1);

      @include hover {
        background: rgba($main-color, 0.2);
      }

      &:after {
        content: "✓";
      }

      &[data-emoji]:after {
        content: attr(data-emoji);
      }
    }

    input {
      display: none;
    }
  }
}
