@import "../../theme";

.storyteller-button {
  font-size: 1.5rem;
  margin: 1rem;
  height: 4rem;
  transition: transform 0.5s;

  &.activated {
    border: 1px solid $secondary-color;
    background-color: rgba($secondary-color, 0.1);
    @include hover {
      background-color: rgba($secondary-color, 0.2);
    }
  }

  @include hover {
    transform: scale(1.2);
    transition: transform 0.3s;
  }
}
