@import "../../theme";

.new-game-screen {
  width: calc(100% - 4rem);
  height: calc(100% - 2rem);
  display: grid;
  gap: 1rem;
  justify-self: center;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-template-rows: min-content repeat(auto-fit, minmax(0, 1fr));

  &.has-game-over-section {
    grid-template-rows: min-content min-content repeat(auto-fit, minmax(0, 1fr));
  }

  .game-over-section {
    padding: 1rem;
    border-radius: $border-radius;
    background: rgba(white, 0.1);
    border: 2px dashed rgba($life-color, 0.5);
    grid-column: 1/-1;

    &.negative {
      border-color: rgba($death-color, 0.5);
    }

    &.hidden {
      display: none;
    }
  }

  .replay-button {
    grid-column: 1/-1;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    font-size: 2rem;

    .config-info {
      opacity: 0.6;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      font-size: 1.5rem;
      gap: 0.5rem;

      .emoji-set {
        letter-spacing: -0.5rem;
        white-space: nowrap;
      }

      .emoji-count {
        color: #ccc;
        font-size: 0.8em;
      }
    }
  }

  .game-preconfigs {
    display: contents;
  }

  button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;

    .icon {
      font-size: 3rem;
    }
  }
}
