@import "../../theme";

.mode-switcher {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  button {
    $color: #aaa;
    padding: 0.25rem 0.5rem;
    color: $color;
    border-color: $color;
    background: rgba($color, 0.1);
    white-space: nowrap;

    &:hover {
      background: rgba($color, 0.2);
    }

    &.active {
      color: white;
      border-color: mix(white, $life-color);
      background: rgba($life-color, 0.5);
      pointer-events: none;
    }
  }
}
