@import "../../theme";

.secret-sequence {
  margin: 2rem;
  font-size: 1rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1.5rem);
  gap: 0.5rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

body.rainbow-mode .secret-sequence-element {
  //--gradient-angle: 90deg;
  @extend .rainbow-text;
}
