.config {
  font-size: 21px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;

  &.practice-mode {
    .sudden-death-only {
      display: none;
    }
  }

  .label {
    text-align: right;
    font-weight: bold;

    & + * {
      text-align: left;
    }
  }

  .icon-button:not(.emoji-selection-btn) {
    font-size: 37px;
  }

  .emoji-selection-btn {
    justify-self: start;
  }

  input {
    display: inline-block;
    background: black;
    color: white;
    font-size: 37px;
    padding: 7px;
    text-align: right;
    width: 2ch;
  }

  .score-modifiers {
    margin: 37px 0;
  }
}
