.config {
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 0.5rem;

  .icon-buttons {
    display: flex;
    gap: 1rem;

    .icon-button {
      font-size: 37px;
    }
  }

  .goal-input {
    input {
      display: inline-block;
      background: black;
      color: white;
      font-size: 37px;
      padding: 7px;
      margin-left: 13px;
      text-align: right;
    }
  }

  .score-modifiers {
    margin: 37px 0;
  }
}
