.dialog {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  z-index: 1;
  display: grid;
  grid-template-rows: 1fr min-content;
}

.buttons {
  background: black;
  display: grid;
  gap: 13px;
  margin: 13px;
  grid-template-columns: repeat(2, min-content);
  align-items: center;
  justify-content: center;

  button {
    white-space: nowrap;
  }
}
