@import "theme";

@font-face {
  font-family: "EmojiFont";
  font-display: swap;
  // file from https://github.com/mozilla/twemoji-colr/issues/50 for chrome fix
  src: url("assets/Twemoji.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;

  @media (min-width: 600px) {
    font-size: 24px;
  }
}

body {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: $font-family;

  &.end-of-game {
    background: mix($death-color, black, 25%);
  }
}

header {
  position: absolute;
  top: 0;
  width: calc(100% - 2rem);
  margin: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .scoreboard {
    margin-left: auto;
  }
}

button {
  font-family: $font-family;
  cursor: pointer;
  color: white;
  border: 1px solid $main-color;
  background-color: rgba($main-color, 0.1);
  padding: 1rem 2rem;

  @include hover {
    background-color: rgba($main-color, 0.2);
  }

  &.secondary-button {
    border: 1px solid white;
    background-color: rgba(white, 0.1);

    @include hover {
      background-color: rgba(white, 0.2);
    }
  }
}

.info-text {
  font-size: 0.7rem;
  font-style: italic;
  color: #ccc;
  max-width: 16rem;
  text-align: center;
}

.emoji {
  font-family: $emoji-font;
  font-weight: normal;
  vertical-align: middle;
  margin-top: 2px;
  text-shadow: 0 0 0.025em var(--text-shadow-color);
}
