$main-color: gold;
$secondary-color: cyan;
$death-color: #992244;
$life-color: #227744;
$font: "EmojiFont"; //sans-serif; //
$font-family: var(--custom-font, $font), sans-serif;

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  &:active {
    @content;
  }
}
